/* html {
	background-color: #1d1e22;
	color: white;
} */

.lato {
	font-family: 'Lato', sans-serif;
}

.mb-0 {
	margin-bottom: 0;
}

#tag {
	display: flex;
	align-items: center;
	justify-content: space-around;
	padding: .5em;
}

#editor {
	width: 100%;
	height: 20em;
	color: black;
	border: 20px solid #36383f;
	border-bottom-style: none;
}

#preview {
	width: 100%;
	background-color: white;
	color: black;
	border: 20px solid #36383f;
  padding-right: .1em;
	overflow: scroll;
}

#preview a {
	color: black;
}