#resume {
  margin-top: 1em;
  padding: 0 16px 16px 16px;
}

#resume-header {
  display: flex;
  flex-flow: column;
}

#resume-img {
  display: flex;
  justify-content: center;
}

#resume-img img {
  width: 50%;
  height: 50%;
}

.mb {
  margin-bottom: 1em;
}

.italic {
  font-style: italic;
}

.underline {
  text-decoration: underline;
}

@media screen and (min-width: 769px) {

  #resume {
    padding: 0 15vw 32px 15vw;
  }

}